<v-container>
    <v-row>
        <v-col cols="12" md="6">
            <h2 class="text-h2 text-md-h1 text-center text-md-left">Describe your needs</h2>
        </v-col>

        <v-col :align-self="$vuetify.display.mdAndUp ? 'center' : undefined">
            <v-row>
                <v-col cols="12">
                    <p class="text-center"><strong>Needs</strong> are any reocurring expenses that you must pay. Rent, Loans, and Medical Bills are examples of <strong>Needs</strong>.</p>
                </v-col>
                <v-col cols="12">
                    <img src="" style="width: 100%; height: 10vw;"/>
                </v-col>
            </v-row>
            <v-row>
                <v-col v-if="step === 0">
                    <select-housing @continue="updateHousingType" @back="back()" />
                </v-col>
                <v-col v-else-if="step === 1">
                    <single-money-input 
                        header="You can add your Base Monthly Rent here or skip this step for now"
                        label="Monthly Rent"
                        @continue="updateBaseHousingExpense"
                        @back="back()"
                    />
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</v-container>